.contact-main {
	margin-top: 78px;

	.contact-header {
		padding-top: 50px;
		text-align: center;
	}

	.contact-form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.contact-form-field,
		.contact-form-textarea {
			margin-bottom: 10px;
			max-width: 400px;
			width: 100%;
			border-radius: .3em;
			padding-left: 10px;
			border: thin solid;
			border-color: $buttons_color;
		}

		.contact-form-field {
			height: 40px;
		}

		.contact-form-textarea {
			padding-top: 10px;
			min-width: 400px;
			max-height: 500px;
			min-height: 190px;
		}

		.contact-form-button {
			text-decoration: none;
			color: $main_color;
			padding: 5px 15px;
			background-color: $buttons_color;
			border-radius: 1em;
			font-weight: 300;
			border: none;
			font-size: 18px;
		}

		.contact-form-field:focus,
		.contact-form-textarea:focus,
		.contact-form-button:focus {
			outline: none;
		}
	}
}



@media only screen and (max-width: 768px) {
	.contact-main {
		margin-top: 74px;

		.contact-form {
			.contact-form-field,
			.contact-form-textarea {
				max-width: 300px;
			}

			.contact-form-textarea {
				min-width: 300px;
			}
		}
	}
}